* {
    font-family: 'Poppins', sans-serif, 'Dancing Script', 'Alex Brush', cursive;
}

body {
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
}

.h1 {
    font-family: 'Dancing Script';
    color: #268e9e;
    font-size: 50px;
}

.box {
    align-items: center;
    padding: 10px 15px;
    width: 240px;
    height: 75vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: -20px;
    border: 1px solid #126673;
    border-radius: 5px;
    transition: 0.4s;
}
.box:hover {
    box-shadow: 0 0 3px rgb(97, 110, 124);
}
.box-heading{
    font-size: 20px;
    margin-top: -1px;
    font-weight: 300;
}
.heading-span{
    font-size: 30px;
    color: #105c68;
    font-weight: 800;
    font-family: "Dancing Script";
}
.inputFields{
    display: flex;
    flex-direction: column;
}
.Input{
    width: 230px;
    font-weight: 600;
    margin-left: -9px;
    padding: 7px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
}
input{
    font-size: 10px;
    padding: 3px ;
}
.input::-webkit-input-placeholder{
    font-size: 10px;
}
.input:focus::placeholder {
    color: transparent;
}
.creatAccountBtn{
    font-weight: 600;
    display: flex;
    font-size: 12px;
    margin-top: 12px;
    padding: 5px 4px;
    width: 230px;
    margin-left: -7px;
    justify-content: center;
    color: #126673;
    padding: 5px;
    background-color: #e9f0f2;
    border: 0.03px solid #686565;
    border-radius: 3px;
    transition: 0.4s;
}
.creatAccountBtn:hover{
    background-color: #126673;
    box-shadow: 0 0 3px slategray;
    color: #e9f0f2;
}
.otherOption{
    margin: auto;
    margin-top: 22px;
    display: flex;
    align-items: center;
}
.otherOption .line{
    height: .4px;
    width: 70px;
    flex: 1;
    background-color: #514f4f;
}
.otherOption p{
    color: #858383;
    font-size: 9px;
    padding: 0 4px;
}
.Amazon-signIn-link{
    height: 28px;
    width: 120px;
    justify-content: center;
    background-color: #e9f0f2;
    border-radius: 3px;
    margin: auto;
    margin-bottom: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0.03px solid #686565;
    text-decoration: none;
    color: #000;
    transition: 0.4s;
}
.Amazon-signIn-link:hover {
    color: #e9f0f2;
    background-color: #126673;
    box-shadow: 0 0 3px slategray;
}

.Amazon-signIn-Text {
    font-size: 10px;
    margin-left: 5px;
}
.box_footer{
    font-size: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: auto;
    margin-top: -190px;
}
.signIn{
    text-decoration: none;
    color: #126673;
    font-size: 12px;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    height: 20vh;
    background: #e9f0f2;
    box-shadow: 0 0 4px #3f5f64;
    box-sizing: border-box;
}

.footer .sources {
    padding: 12px 20px;
    width: 18%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    margin-top: 10px;
}

.sources_child {
    font-size: 10px;
    text-decoration: none;
}

.footer-text {
    color: #535657;
    width: 600px;
    display: flex;
    margin: auto;
    margin-top: -50px;
}